table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 14em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

table thead tr {
    background: radial-gradient(181.17% 3716.78% at -8.44% 52.94%, #62EDA2 0%, #00A3FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    color: #ffffff;
    text-align: center;
    font-size: clamp(20.5rem, 2vw + 8rem, 12.25rem);
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 2px solid #009879;
}


.OutOfStock, .overdue, .inv-OOF {
    color: var(--warning-color);
}

.Reserved, .reserved, .inv-r {
    color: var(--radient2-color);
}

.InStock, .rented, .inv-IS {
    color: var(--radient1-color);
}

.rented-background, .inv-IS-background {
    background-color: var(--radient1-color);
}

.reserved-background, .inv-r-background {
    background-color: var(--radient2-color);
}

.overdue-background, .inv-OOF-background{
    background-color: var(--warning-color);
}


th {
    text-transform: uppercase;
}

td {
    text-transform: capitalize;
}

.status-circle {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.rented-status, .inv {
    display: flex;
    gap: 15rem;
    justify-content: flex-end;
}

@media (max-width: 500px) {

    table thead tr {
        font-size: calc(25px + 16 * ((100vw - 568px) / (768 - 568)));
    }
    table tbody tr {
        font-size: calc(15px + 16 * ((100vw - 568px) / (768 - 568)));
    }
}

@media (max-width: 576px) {
    .table-container h3 {
        text-align: center;
        font-size: calc(25px + 16 * ((100vw - 568px) / (768 - 568)));
    }
    .inventory {
        padding: 0;
        margin-top: 75em;
    }
    .status-circle {
        display: none;
    }

    table thead tr {
        font-size: calc(20px + 4 * ((100vw - 568px) / (768 - 568)));
    }
    table tbody tr {
        font-size: calc(15px + 4 * ((100vw - 568px) / (768 - 568)));
    }
    
    table {
        max-width: 80vw;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}

@media (min-width: 1400px) {
    
}
